<h1 class="page-header">My Dashboard</h1>
<ul class="container">
  <li><%= link_to "Count of products: #{@count_of_products}", admin_products_path %></li>
  <li><%= link_to "Count of categories: #{@count_of_categories}", admin_products_path %></li>
</ul>
